[Unit]
Description=Intel CPU Boost for Responsiveness During I/O
DefaultDependencies=no
Before=basic.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'echo 0 > /sys/devices/system/cpu/intel_pstate/no_turbo'
RemainAfterExit=yes

[Install]
WantedBy=basic.target
